[Desktop Entry]
Name=Workspace Windows
Comment=Show windows from the current workspace in the COSMIC panel
Type=Application
Exec=cosmic-applet-workspace-windows
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Window;Title;Workspace;
Icon=io.github.tkilian.CosmicAppletWorkspaceWindows
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-HostWaylandDisplay=true
X-OverflowPriority=75
X-OverflowMinSize=8
